<!DOCTYPE html>
<html>
  <head>
    <title>Damon Roberts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/dc1w9349i/image/upload/v1613942624/perso/Screenshot_2021-02-21_at_21.23.20_dbau93.png"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "components/navbar" %>
    <%= yield %>
    <%= render partial: "components/footer" %>
  </body>
</html>
